body {
    text-align: center;
    background-color: aquamarine;
    margin: 0;
}
ul {
    padding: 0;
}

header {
    background-color: gray;
    padding: 1px;
}
header li {
    display: inline;
    border: solid;
    padding: 2px;
    background-color: aqua;
}
hr {
    border: solid;
    border-width: 2px;
}


main {
    margin: 8;
}
h1 {
    font-size: 40px;
}
h2 {
    font-size: 30px;
}
p {
    font-size: 20px;
}
img {
    height: 400px;
    border: solid;
    border-radius: 10%;
    
}

main li {
    margin: 8;
    font-size: 20px;
}

.ul_box{
    border: solid;
}

.img_pro {
    width: 200px;
    height: 100px;
    border: solid;
    border-radius: 1%;
}

.description {
    font-size: 15px;
}

main ul {
    list-style-type: none;
    
}

footer p {
    text-align: left;
    background-color: gray;
    font-size: 15px;
    color: black;
    padding: 8px;
}